/* roboto-regular - latin_cyrillic */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    /* IE6-IE8 */
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
    /* IE6-IE8 */
    url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
}

/* roboto-700 - latin_cyrillic */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
    /* IE6-IE8 */
    url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
  /* Legacy iOS */
}

body {
  font-family: Roboto, sans-serif;
  min-width: 320px;
  color: #000;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  margin: 0 auto;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 944px;
  }
}

/* Начинаем врестать хедер */

.header {
  background-color: #fbfbfb;
  padding-top: 20px;
}

.menu__list {
  display: flex;
  list-style-type: none;
  transition: 0.3s all linear;
}

.menu__list--active {
  display: block;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__link {
  text-decoration: none;
  outline: none;
  color: #000;
  transition: background-color 0.15s, color 0.15s;
}

.menu__link:hover,
.menu__link:focus {
  text-decoration: underline;
  color: #fc557c;
  transition: background-color 0.15s, color 0.15s;
}

/* Бургер */

.header__toggle {
  display: none;
  position: relative;
}

.toggle {
  border: none;
  outline: none;
  background: transparent;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.toggle__line {
  width: 100%;
  height: 3px;
  background: linear-gradient(0deg, #ff8f5a, #ff2f96);
  display: block;
  position: absolute;
  left: 0;
  transition: 0.3s all linear;
}

.toggle__line--first {
  top: 0;
}

.toggle__line--second,
.toggle__line--third {
  top: 50%;
  transform: translateY(-50%);
}

.toggle__line--fourth {
  bottom: 0;
}

.toggle--active .toggle__line--first,
.toggle--active .toggle__line--fourth {
  opacity: 0;
}

.toggle--active .toggle__line--second {
  transform: translateY(-50%) rotate(45deg);
}

.toggle--active .toggle__line--third {
  transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 968px) {
  .menu__list {
    display: none;
  }

  .header__toggle {
    display: block;
  }
}

.header__menu {
  margin-right: auto;
}

.menu__list--active {
  padding-top: 10px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
  top: 51px;
  text-align: center;
  background-color: rgba(256, 256, 256, 0.8);
  font-size: 20px;
  border-bottom: 1px solid #ff2f96;
  border-top: 1px solid #ff2f96;
}

.menu__list--active .menu__item {
  padding-bottom: 10px;
  margin-right: 0;
}

.header__contacts {
  display: flex;
  align-items: flex-end;
}

.header__phone {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  font-weight: 700;
  font-size: 25px;
  color: #000;
  margin-right: 30px;
}

.first-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.second-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #f80185;
}

.close {
  z-index: 30;
  display: block;
  border: none;
  width: 30px;
  outline: none;
  height: 30px;
  background-color: #fff;
  font-size: 28px;
  margin-left: auto;
  cursor: pointer;
}

form {
  display: block;
  width: 100%;
}

.form-tittle {
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}

.input {
  display: block;
  padding: 5px;
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 18px;
}

.modal__thanks {
  display: none;
  width: 100%;
  height: 300px;
  background-color: #fff;
  z-index: 10;
  align-items: center;
  justify-content: space-evenly;
}

.modal__thanks--active {
  display: flex;
}

.modal__form--hide {
  display: none;
}



.thanks__text {
  display: block;
  font-size: 24px;
  font-weight: 700;
}

.submit {
  display: block;
  margin: 20px auto auto;
}

.call-button {
  z-index: 300;
  background-color: #fbfbfb;
  outline: none;
  cursor: pointer;
  color: #f80185;
  width: 208px;
  height: 45px;
  border: 1px solid #f80185;
  transition: background-color 0.25s, color 0.25s;
}

.call-button:hover,
.call-button:focus {
  background-color: #f80185;
  color: #fff;
  transition: background-color 0.25s, color 0.25s;
}

.call-button--icon .fa {
  display: none;
}

.fa {
  background: linear-gradient(0deg, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 630px) {
  .call-button {
    color: transparent;
  }

  .call-button--none {
    display: none;
  }

  .call-button--icon {
    width: 30px;
    height: 30px;
    background-color: #fbfbfb;
    border: 1px solid #f80185;
    border-radius: 50%;
    outline: none;
  }

  .call-button--icon:hover,
  .call-button--icon:focus {
    background-color: #f80185;
    transition: background-color 0.15s;
  }

  .call-button--icon .fa:hover,
  .call-button--icon .fa:focus {
    background: #fff;
    transition: background 0.15s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .call-button--icon {
    display: block;
  }

  .call-button--icon .fa {
    display: block;
  }
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Верстаем секцию с фото человека */

.items {
  position: absolute;
  z-index: 200;
  background: linear-gradient(0deg, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 700;
}

.first-screen {
  overflow: hidden;
  background-color: #fbfbfb;
  position: relative;
  z-index: 6;
}

.first-screen__left {
  z-index: 200;
  padding-top: 210px;
  padding-bottom: 230px;
}

.first-screen__name {
  font-size: 80px;
}

@media (max-width: 1024px) {
  .first-screen__name {
    font-size: 28px;
  }
}

.first-screen__specialty {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.5;
}

.first-screen__button {
  margin-top: 38px;
  z-index: 200;
}

.button {
  width: 270px;
  height: 60px;
  font-size: 18px;
  outline: none;
  background-color: #ff4e2e;
  border: 2px solid #ff4e2e;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.25s, color 0.25s;
}

.button:hover,
.button:focus {
  background-color: #ff3f2e91;
  color: #fff;
  transition: background-color 0.25s, color 0.25s;
}

.photo-wrapper {
  width: 919px;
  object-fit: contain;
  padding-left: 120px;
  background-size: contain;
  background-image: url(../img/ellips.svg);
  background-repeat: no-repeat;
  background-position: 0 123px;
}

.first-screen__wrapper {
  position: absolute;
  right: -400px;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .photo-wrapper__man {
    z-index: 40;
    object-fit: contain;
  }
}

@media (max-width: 1024px) {
  .first-screen {
    max-height: 600px;
  }

  .first-screen__left {
    width: auto;
    padding-top: 100px;
  }

  .photo-wrapper__man {
    max-width: 435px;
  }

  .photo-wrapper {
    background-position-y: 82px;
    background-size: contain;
    width: 600px;
    right: -16px;
  }
}

@media (max-width: 620px) {
  .first-screen__left {
    width: auto;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 30px;
  }

  .first-screen__name {
    font-size: 30px;
    z-index: 200;
  }

  .first-screen__specialty {
    font-size: 16px;
    z-index: 200;
  }

  .header__phone {
    font-size: 16px;
  }

  .photo-wrapper__man {
    max-width: 265px;
  }

  .first-screen__wrapper {
    width: 600px;
    bottom: 0;
    background-position-x: 75px;
    position: relative;
    transform: translateX(-38%);
    left: 50%;
  }
}

.elements {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.elements__item {
  position: absolute;
  transition: 550ms;
  font-size: 45px;
  font-weight: 700;
}

.elements--active .elements__item-1 {
  transform: translate(800px, 250px) rotate(20deg);
  background: linear-gradient(0deg, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.elements--active .elements__item-2 {
  transform: translate(600px, 100px) rotate(-20deg);
  background: linear-gradient(0deg, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.elements--active .elements__item-3 {
  transform: translate(50px, 580px) rotate(-20deg);
  background: linear-gradient(0deg, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.elements--active .elements__item-4 {
  transform: translate(-160px, 100px) rotate(20deg);
  background: linear-gradient(0deg, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.elements--active .elements__item-5 {
  transform: translate(-50px, 278px) rotate(20deg);
  background: linear-gradient(0deg, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1024px) {
  .elements--active .elements__item-1 {
    transform: translate(324px, 318px) rotate(20deg);
  }

  .elements--active .elements__item-2 {
    transform: translate(430px, 30px) rotate(-20deg);
  }

  .elements--active .elements__item-3 {
    transform: translate(50px, 400px) rotate(-20deg);
  }

  .elements--active .elements__item-4 {
    transform: translate(130px, 50px) rotate(20deg);
  }

  .elements--active .elements__item-5 {
    transform: translate(-0px, 290px) rotate(20deg);
  }
}

@media (max-width: 620px) {
  .elements__item {
    font-size: 16px;
  }

  .elements--active .elements__item-1 {
    transform: translate(210px, 15px) rotate(20deg);
  }

  .elements--active .elements__item-2 {
    display: none;
    transform: translate(430px, 30px) rotate(-20deg);
  }

  .elements--active .elements__item-3 {
    transform: translate(43px, 80px) rotate(-20deg);
  }

  .elements--active .elements__item-4 {
    transform: translate(280px, 45px) rotate(20deg);
  }

  .elements--active .elements__item-5 {
    transform: translate(100px, 29px) rotate(20deg);
  }
}

/* Начинаем верстать тело сайта */

/* Начинаем верстать секцию услгу */

.second-screen {
  background-color: #fff;
  padding: 100px 0;
  overflow: hidden;
}

.second-screen__container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .second-screen {
    max-width: 780px;
    margin: 0 auto;
  }
}

.screen-tittle {
  text-align: center;
  font-size: 54px;
  font-weight: 700;
}

@media (max-width: 620px) {
  .screen-tittle {
    font-size: 36px;
  }
}

.second-screen__abylity {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}

.abylity__image {
  width: 255px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 150px;
  color: rgb(137, 147, 173);
  font-size: 18px;
}

.abylity__image--siat {
  background-image: url(../img/all-sait.png);
}

.abylity__image--adaptive {
  background-image: url(../img/adaptive.png);
}

.abylity__image--developers {
  background-image: url(../img/frontend-developers.png);
}

.abylity__image--correction {
  background-image: url(../img/correction-sait.png);
}

@media (max-width: 1024px) {
  .abylity__image {
    margin-bottom: 40px;
  }
}

.second-screen__button {
  margin-top: 95px;
  align-self: center;
}

/* Начинаем верстать примеры работ  */

.third-screen {
  background-color: #fbfbfb;
  padding-top: 99px;
  padding-bottom: 100px;
}

@media (max-width: 620px) {
  .third__tittle {
    font-size: 36px;
  }
}

@media (max-width: 767.9px) {
  .slide__container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 400px;
  }
}

@media (max-width: 980px) {
  .slide__container {
    width: 708px;
  }
}


.slide__container {
  max-width: 100%;
}

.third-screen__slider {
  position: relative;
  margin: 100px 0 auto;
}

.slider {
  overflow-x: hidden;
  overflow-y: hidden;
}

.slider__overflow {
  overflow-x: hidden;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.slider__item {
  flex-shrink: 0;
}

.slider__item img {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.slider__text {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  color: rgba(137, 147, 173, 255);
}

@media (max-width: 980px) {
  .slider__text {
    font-size: 14px;
  }
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #fff;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  transition: box-shadow 0.5s;
}

.slider__button:hover,
.slider__button:focus {
  transition: box-shadow 0.5s;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
}

.slider__button--next {
  transform: rotate(180deg);
  top: 42%;
  left: auto;
  right: -8px;
}

@media (max-width: 1023.9px) {
  .slider__button {
    display: none;
  }
}

.slider__button--prev {
  left: -8px;
  top: 46%;
}

.paginator {
  display: flex;
  justify-content: center;
}

.paginator__item {
  border: none;
  background-color: #ebebeb;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.paginator__item--active {
  background-color: #ff4e2e;
}

.paginator__item:not(:last-child) {
  margin-right: 20px;
}

.slider__pagination {
  margin-top: 10px;
}

@media (min-width: 1024px) {
  .slider__pagination {
    display: none;
  }
}

.third-screen__button {
  margin-top: 96px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.order:hover {
  background-color: #ff3f2e91;
  color: #fff;
  transition: background-color 0.15s, color 0.15s;
}

/* Начинаем версать красочный блок  */

.fourth-screen {
  position: relative;
  padding: 87px 0;
  background: linear-gradient(to right top, #ff8f5a, #ff2f96);
  overflow: hidden;
}

.fourth-screen__container {
  max-width: 942px;
  margin: 0 auto;
  padding: 0 10px;
}

.fourrth-screen__service {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}

@media (max-width: 620px) {
  .fourrth-screen__service {
    font-size: 36px;
  }
}

.fourrth-screen__footnote {
  margin-top: 45px;
  font-size: 20px;
  color: #fff;
  opacity: 0.7;
}

.elements--index {
  z-index: 5 !important;
}

.elements__item-6 {
  transform: translate(2150px, 230px) rotate(20deg);
  color: #fff;
}

.elements__item-7 {
  transform: translate(500px, 80px) rotate(20deg);
  color: #fff;
}

.elements__item-8 {
  transform: translate(2400px, 40px) rotate(-20deg);
  color: #fff;
}

.elements__item-9 {
  transform: translate(2500px, 250px) rotate(20deg);
  color: #fff;
}

.elements__item-10 {
  transform: translate(300px, 258px) rotate(20deg);
  color: #fff;
}

@media (max-width: 1024px) {
  .elements__item-6 {
    transform: translate(500px, 230px) rotate(20deg);
    color: #fff;
    font-size: 25px;
  }

  .elements__item-7 {
    transform: translate(200px, -50px) rotate(-20deg);
    color: #fff;
    font-size: 25px;
  }

  .elements__item-8 {
    transform: translate(750px, -50px) rotate(-20deg);
    color: #fff;
    font-size: 25px;
  }

  .elements__item-9 {
    display: none;
    transform: translate(1700px, 150px) rotate(20deg);
    color: #fff;
  }

  .elements__item-10 {
    display: none;
    transform: translate(-300px, 158px) rotate(0deg);
    color: #fff;
  }
}

@media (max-width: 600px) {
  .elements__item-6 {
    transform: translate(1150px, 230px) rotate(20deg);
    color: #fff;
    display: none;
  }

  .elements__item-7 {
    transform: translate(-450px, -50px) rotate(-20deg);
    color: #fff;
    display: none;
  }

  .elements__item-8 {
    transform: translate(1400px, 40px) rotate(-20deg);
    color: #fff;
    display: none;
  }
}

/* Начинаем верстать футер */

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 91px;
  padding-top: 96px;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}

.footer-menu__link {
  text-decoration: none;
  font-size: 18px;
  color: rgba(137, 147, 173, 255);
  outline: none;
}

.footer-menu__item {
  list-style-type: none;
}

.footer-menu__item:not(:last-child) {
  display: block;
  margin-bottom: 16px;
}

.footer-menu__link:hover,
.footer-menu__link:focus {
  text-decoration: underline;
  color: #fc557c;
  transition: background-color 0.15s, color 0.15s;
}

.contacts__link {
  font-style: normal;
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 25px;
}

.contacts__link:not(:last-child) {
  margin-bottom: 34px;
}

.contacts__link:hover,
.contacts__link:focus {
  text-decoration: underline;
  color: #fc557c;
  transition: background-color 0.15s, color 0.15s;
}

.position {
  display: block;
  margin-right: 20px;
  background: linear-gradient(0deg, #ff8f5a, #ff2f96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .footer__contact {
    margin-top: 50px;
  }

  .flex-container {
    align-items: flex-start;
  }
}

.footer__button {
  width: 250px;
  height: 48px;
  text-align: center;
  font-size: 16px;
  color: rgb(255, 99, 117);
  background-color: transparent;
  border: 1px solid rgb(255, 99, 117);
  outline: none;
  cursor: pointer;
}

.footer__social-network {
  margin-top: 30px;
}

.social-network {
  display: flex;
}

.social-network__item {
  list-style-type: none;
}

.social-network__item:hover,
.social-network__item:focus {
  transform: scale(1.2);
}

.social-network__link {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.social-network__link--vk {
  background-position: 0;
}

.social-network__link--facebook {
  background-position: -52px;
}

.social-network__link--twitter {
  background-position: -105px;
}

.social-network__link--instagram {
  background-position: -160px;
}

.social-network__item:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .footer__item-network {
    margin-top: 20px;
  }
}

.footer__copyright {
  text-align: center;
  padding: 33px 0;
  color: #fff;
  font-size: 16px;
  background-color: #31293c;
}